
.pokemonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1.6vw;
    width: 150px;
    height: 200px;
    background-color: #3B4CCA;
    border-radius: 5%;
}

.image {
    width: fit-content;
    height: fit-content;
}

#nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

h1 {
    font-size: 5vh;
    color: #080808;
}

h2 {
    font-size: 4.5vh;
    color: #080808;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    font-family: fantasy;
}
.btn {
    border-radius: 20%;
}

.btn:active {
    transform: scale(.9);

}

.card:hover {
    transform: scale(1.2);
    transition-duration: .5s;
}

#addBtn {
    background-color: green;
}

#deleteBtn {
    background-color: red;
}
